In [1]:
import pandas as pd
import numpy as np
df = pd.read_table('./../data/DF-A/DF-A_NASKNX07A.txt', header=None)

In [2]:
# Get Row Index for Starting Rows
header_list = df[df[0].str.contains('kbytes')].index.values
header_list

array([  2,  51, 100, 155])

In [3]:
# Get Row Index for Ending Rows
end_list = df[df[0].str.contains('^#')].index.values
end_list

array([  0,   1,   7,   8,  10,  11,  13,  14,  16,  17,  19,  20,  22,
        23,  25,  26,  28,  29,  31,  32,  34,  35,  37,  38,  40,  41,
        43,  44,  46,  47,  49,  50,  56,  57,  59,  60,  62,  63,  65,
        66,  68,  69,  71,  72,  74,  75,  77,  78,  80,  81,  83,  84,
        86,  87,  89,  90,  92,  93,  95,  96,  98,  99, 105, 106, 108,
       109, 111, 112, 114, 115, 117, 118, 120, 121, 123, 124, 126, 127,
       129, 130, 132, 133, 135, 136, 138, 139, 141, 142, 144, 145, 147,
       148, 150, 151, 153, 154, 160, 161, 163, 164, 166, 167, 169, 170,
       172, 173, 175, 176, 178, 179, 181, 182, 184, 185, 187, 188])

In [4]:
idx_list = []
for x in header_list:
    y = end_list[np.where(x<end_list)]
    if len(y)>0:        
        print(str(x) + ' ends ' + str(y[0]))
        idx_list.append([x, y[0]]) # We are using the first number in array y e.g. y[0]
    else:
        print(str(x)+' until end of file') 
        idx_list.append([x,]) # End of file has no y[0]

print idx_list
# df[idx_list[0][0]:idx_list[0][1]] 
# [0][0] is the first element in the first list idx_list e.g. 5
# [0][1] is the second element in the first list idx_list e.g. 83

# df[idx_list[1][0]:idx_list[1][1]]
# [0][0] is the first element in the first list idx_list e.g. 88
# [0][1] is the second element in the first list idx_list e.g. 166

2 ends 7
51 ends 56
100 ends 105
155 ends 160
[[2, 7], [51, 56], [100, 105], [155, 160]]

In [5]:
counter = 0
for idxs in idx_list:
    if len(idxs)>1:
        print(idxs)
        df.loc[idxs[0]:idxs[1],'Aggregate'] = df[idxs[0]:idxs[1]][0][1:].apply(lambda x: str.split(x)[0])
        df.loc[idxs[0]:idxs[1],'kbytes'] = df[idxs[0]:idxs[1]][0][1:].apply(lambda x: str.split(x)[1])
        df.loc[idxs[0]:idxs[1],'used'] = df[idxs[0]:idxs[1]][0][1:].apply(lambda x: str.split(x)[2])
        df.loc[idxs[0]:idxs[1],'avail'] = df[idxs[0]:idxs[1]][0][1:].apply(lambda x: str.split(x)[3])
        df.loc[idxs[0]:idxs[1],'capacity'] = df[idxs[0]:idxs[1]][0][1:].apply(lambda x: str.split(x)[4])

        df.loc[idxs[0]:idxs[1],'date'] = pd.to_datetime(df[idxs[0]-2:idxs[1]-1][0].str[6:26][0:1]).dt.strftime("%d/%m/%Y %H:%M:%S").values[0]
        df.loc[idxs[0]:idxs[1],'ASUP_Type'] = df[idxs[0]-2:idxs[1]-1][0].str.extract('\((.*?)\)', expand=True)[0].values[0]
        df.loc[idxs[0]:idxs[1],'hostname'] = df[idxs[0]-1:idxs[1]][0].str.split().values[0][2]
        df.loc[idxs[0]:idxs[1],'serial_no'] = df[idxs[0]-1:idxs[1]][0].str.split().values[0][4]
    else:
        print(idxs)
        df.loc[idxs[0]:,'Aggregate'] = df[idxs[0]:][0][1:].apply(lambda x: str.split(x)[0])
        df.loc[idxs[0]:,'kbytes'] = df[idxs[0]:][0][1:].apply(lambda x: str.split(x)[1])
        df.loc[idxs[0]:,'used'] = df[idxs[0]:][0][1:].apply(lambda x: str.split(x)[2])
        df.loc[idxs[0]:,'avail'] = df[idxs[0]:][0][1:].apply(lambda x: str.split(x)[3])
        df.loc[idxs[0]:,'capacity'] = df[idxs[0]:][0][1:].apply(lambda x: str.split(x)[4])

        df.loc[idxs[0]:,'date'] = pd.to_datetime(df[idxs[0]-2:-1][0].str[6:26][0:1]).dt.strftime("%d/%m/%Y %H:%M:%S").values[0]
        df.loc[idxs[0]:,'ASUP_Type'] = df[idxs[0]-2:-1][0].str.extract('\((.*?)\)', expand=True)[0].values[0]
        df.loc[idxs[0]:,'hostname'] = df[idxs[0]-1:][0].str.split().values[0][2]
        df.loc[idxs[0]:,'serial_no'] = df[idxs[0]-1:][0].str.split().values[0][4]

[2, 7]
[51, 56]
[100, 105]
[155, 160]

In [6]:
counter = 0
for idxs in idx_list:
    if len(idxs)>1:
        #print(idxs)                   # Print all lists in the list
        #print df.loc[idxs[0]:idxs[1]] # Return dataframe with rows from first list
        #print df[idxs[0]:idxs[1]][0]  # Return an array for column (index 0) instead of dataframe
        print df[idxs[0]:idxs[1]][0][1:]  # skip first items from array
        # lambda function to iterate each item split by whitespace (default) and return the first item (index 0 i.e. e.g. Filesystem)
        #df.loc[idxs[0]:idxs[1],'Filesystem'] = df[idxs[0]:idxs[1]][0][2:].apply(lambda x: str.split(x)[0])

3    aggr01_nsas         115782104680 98382566932 1...
4    aggr01_nsas/.snapshot          0          0   ...
5    aggr0                326979552  290796292   36...
6    aggr0/.snapshot              0          0     ...
Name: 0, dtype: object
52    aggr01_nsas         115782104680 98169669256 1...
53    aggr01_nsas/.snapshot          0          0   ...
54    aggr0                326979552  290796152   36...
55    aggr0/.snapshot              0          0     ...
Name: 0, dtype: object
101    aggr01_nsas         115782104680 97909088160 1...
102    aggr01_nsas/.snapshot          0          0   ...
103    aggr0                326979552  290794876   36...
104    aggr0/.snapshot              0          0     ...
Name: 0, dtype: object
156    aggr01_nsas         115782104680 97520304984 1...
157    aggr01_nsas/.snapshot          0          0   ...
158    aggr0                326979552  290794436   36...
159    aggr0/.snapshot              0          0     ...
Name: 0, dtype: object

In [7]:
df.drop([0], axis=1, inplace=True)

In [8]:
result_df = df[~df['Aggregate'].isnull()].reset_index(drop=True)
result_df = result_df[['date', 'ASUP_Type', 'hostname', 'serial_no', 'Aggregate', 'kbytes', 'used', 'avail', 'capacity']]

In [9]:
result_df.shape

(16, 9)

In [10]:
result_df['date'].unique()

array([u'02/07/2017 00:34:30', u'25/06/2017 00:33:39',
       u'18/06/2017 00:22:49', u'11/06/2017 00:22:06'], dtype=object)

In [11]:
result_df

,date,ASUP_Type,hostname,serial_no,Aggregate,kbytes,used,avail,capacity
0,02/07/2017 00:34:30,WEEKLY_LOG,NASKNX07A,451416000026,aggr01_nsas,115782104680,98382566932,17399537748,85%
1,02/07/2017 00:34:30,WEEKLY_LOG,NASKNX07A,451416000026,aggr01_nsas/.snapshot,0,0,0,---%
2,02/07/2017 00:34:30,WEEKLY_LOG,NASKNX07A,451416000026,aggr0,326979552,290796292,36183260,89%
3,02/07/2017 00:34:30,WEEKLY_LOG,NASKNX07A,451416000026,aggr0/.snapshot,0,0,0,---%
4,25/06/2017 00:33:39,WEEKLY_LOG,NASKNX07A,451416000026,aggr01_nsas,115782104680,98169669256,17612435424,85%
5,25/06/2017 00:33:39,WEEKLY_LOG,NASKNX07A,451416000026,aggr01_nsas/.snapshot,0,0,0,---%
6,25/06/2017 00:33:39,WEEKLY_LOG,NASKNX07A,451416000026,aggr0,326979552,290796152,36183400,89%
7,25/06/2017 00:33:39,WEEKLY_LOG,NASKNX07A,451416000026,aggr0/.snapshot,0,0,0,---%
8,18/06/2017 00:22:49,WEEKLY_LOG,NASKNX07A,451416000026,aggr01_nsas,115782104680,97909088160,17873016520,85%
9,18/06/2017 00:22:49,WEEKLY_LOG,NASKNX07A,451416000026,aggr01_nsas/.snapshot,0,0,0,---%
10,18/06/2017 00:22:49,WEEKLY_LOG,NASKNX07A,451416000026,aggr0,326979552,290794876,36184676,89%
11,18/06/2017 00:22:49,WEEKLY_LOG,NASKNX07A,451416000026,aggr0/.snapshot,0,0,0,---%
12,11/06/2017 00:22:06,WEEKLY_LOG,NASKNX07A,451416000026,aggr01_nsas,115782104680,97520304984,18261799696,84%
13,11/06/2017 00:22:06,WEEKLY_LOG,NASKNX07A,451416000026,aggr01_nsas/.snapshot,0,0,0,---%
14,11/06/2017 00:22:06,WEEKLY_LOG,NASKNX07A,451416000026,aggr0,326979552,290794436,36185116,89%
15,11/06/2017 00:22:06,WEEKLY_LOG,NASKNX07A,451416000026,aggr0/.snapshot,0,0,0,---%

In [12]:
active_result_df = result_df[result_df['Aggregate'].str.contains(".snapshot") == False]
active_result_df = active_result_df.reset_index(drop=True)
active_result_df.columns = ['date', 'ASUP_Type', 'hostname', 'serial_no', 'active_Aggregate', 'aggr_kbytes', 'aggr_used', 'aggr_avail', 'aggr_capacity']    
active_result_df

,date,ASUP_Type,hostname,serial_no,active_Aggregate,aggr_kbytes,aggr_used,aggr_avail,aggr_capacity
0,02/07/2017 00:34:30,WEEKLY_LOG,NASKNX07A,451416000026,aggr01_nsas,115782104680,98382566932,17399537748,85%
1,02/07/2017 00:34:30,WEEKLY_LOG,NASKNX07A,451416000026,aggr0,326979552,290796292,36183260,89%
2,25/06/2017 00:33:39,WEEKLY_LOG,NASKNX07A,451416000026,aggr01_nsas,115782104680,98169669256,17612435424,85%
3,25/06/2017 00:33:39,WEEKLY_LOG,NASKNX07A,451416000026,aggr0,326979552,290796152,36183400,89%
4,18/06/2017 00:22:49,WEEKLY_LOG,NASKNX07A,451416000026,aggr01_nsas,115782104680,97909088160,17873016520,85%
5,18/06/2017 00:22:49,WEEKLY_LOG,NASKNX07A,451416000026,aggr0,326979552,290794876,36184676,89%
6,11/06/2017 00:22:06,WEEKLY_LOG,NASKNX07A,451416000026,aggr01_nsas,115782104680,97520304984,18261799696,84%
7,11/06/2017 00:22:06,WEEKLY_LOG,NASKNX07A,451416000026,aggr0,326979552,290794436,36185116,89%

In [13]:
snapshot_result_df = result_df[result_df['Aggregate'].str.contains(".snapshot")]
snapshot_result_df = snapshot_result_df.reset_index(drop=True)
snapshot_result_df.columns = ['date', 'ASUP_Type', 'hostname', 'serial_no', 'snap_Aggregate', 'snap_kbytes', 'snap_used', 'snap_avail', 'snap_capacity']
snapshot_result_df.drop(['date', 'ASUP_Type', 'hostname', 'serial_no'], axis=1, inplace=True)
snapshot_result_df

          snap_Aggregate snap_kbytes snap_used snap_avail snap_capacity
0  aggr01_nsas/.snapshot           0         0          0          ---%
1        aggr0/.snapshot           0         0          0          ---%
2  aggr01_nsas/.snapshot           0         0          0          ---%
3        aggr0/.snapshot           0         0          0          ---%
4  aggr01_nsas/.snapshot           0         0          0          ---%
5        aggr0/.snapshot           0         0          0          ---%
6  aggr01_nsas/.snapshot           0         0          0          ---%
7        aggr0/.snapshot           0         0          0          ---%

In [14]:
output_result_df = pd.concat([active_result_df, snapshot_result_df], axis=1)
output_result_df

,date,ASUP_Type,hostname,serial_no,active_Aggregate,aggr_kbytes,aggr_used,aggr_avail,aggr_capacity,snap_Aggregate,snap_kbytes,snap_used,snap_avail,snap_capacity
0,02/07/2017 00:34:30,WEEKLY_LOG,NASKNX07A,451416000026,aggr01_nsas,115782104680,98382566932,17399537748,85%,aggr01_nsas/.snapshot,0,0,0,---%
1,02/07/2017 00:34:30,WEEKLY_LOG,NASKNX07A,451416000026,aggr0,326979552,290796292,36183260,89%,aggr0/.snapshot,0,0,0,---%
2,25/06/2017 00:33:39,WEEKLY_LOG,NASKNX07A,451416000026,aggr01_nsas,115782104680,98169669256,17612435424,85%,aggr01_nsas/.snapshot,0,0,0,---%
3,25/06/2017 00:33:39,WEEKLY_LOG,NASKNX07A,451416000026,aggr0,326979552,290796152,36183400,89%,aggr0/.snapshot,0,0,0,---%
4,18/06/2017 00:22:49,WEEKLY_LOG,NASKNX07A,451416000026,aggr01_nsas,115782104680,97909088160,17873016520,85%,aggr01_nsas/.snapshot,0,0,0,---%
5,18/06/2017 00:22:49,WEEKLY_LOG,NASKNX07A,451416000026,aggr0,326979552,290794876,36184676,89%,aggr0/.snapshot,0,0,0,---%
6,11/06/2017 00:22:06,WEEKLY_LOG,NASKNX07A,451416000026,aggr01_nsas,115782104680,97520304984,18261799696,84%,aggr01_nsas/.snapshot,0,0,0,---%
7,11/06/2017 00:22:06,WEEKLY_LOG,NASKNX07A,451416000026,aggr0,326979552,290794436,36185116,89%,aggr0/.snapshot,0,0,0,---%